body{
    display: flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: linear-gradient(#081c15,#d8f3dc);
}
.box{
    background-color:#081c15;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    color:white;    
}
.header{
    padding-top:40px;
    padding-left:40px;
    
}
#color{
    color:#40916c;
    margin-left:3px;
}


#button{
    border-radius: 5px;
    padding:8px;
    font-size:small;
    font-weight: bold;
    color:white;
    background-color: #40916c;
    border-color:#40916c;
    margin-top:30px;
    margin-left:40px;
}

h1{
    margin-bottom:10px;
}
.line{
    width: 420px;
    height: 1px;
    background-color: #1b4332 ;
    margin-left:auto;
    margin-right: auto;
    margin-top:30px;
}

.left-box{
    width:190px;
    height: 40px;
    background-color: #95d5b2;
    border-radius: 5px;
}

.right-box{
    width:190px;
    height: 40px;
    background-color: #95d5b2;
    border-radius: 5px;
}
.ans{
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
    text-align: center;
    color: #081c15;
}